In [2]:
[3] + [2]

[3, 2]

In [4]:
path = [2, 3, 4]
res = []


res.append(path[:])
res

[[2, 3, 4]]

In [2]:
s = 'eat'
sorted(s)

['a', 'e', 't']

In [3]:
tem = {
    'a': ['dd','aa'],
    'b': ['cc']
}

'a' in tem

True

In [6]:
set([1,0,1,4,2,0])

{0, 1, 2, 4}

In [7]:
nums = [0, 1,2,0,3,4,0]

nums[0]

0

In [8]:
nums.pop(0)

0

In [9]:
nums[0]

1

In [ ]:
temp = {
    111 : "kl",
    "222" : 2
}

2 in temp.values()

True

In [14]:
sorted('ba')

['a', 'b']

In [15]:
"abc"[1:2]

'b'

In [1]:
a = set([1,2,2,3,0])

In [6]:
k = 3
n = 6

for i, j in zip(range(1 - k, n + 1 - k), range(n)):
    print(i , j)

-2 0
-1 1
0 2
1 3
2 4
3 5

In [7]:
[1,2,3].pop()

3

In [ ]:
[1,2,3].insert(0)